<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="NewProduct" frontName="new-products">
            <module name="Ves_NewProduct"/>
        </route>
    </router>
</config>
 