<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>        

        <update id="FME_Extensions::fmeextensions"
             title="FME Extensions" translate="title" 
             module="FME_GoogleMapsStoreLocator" sortOrder="11"           
             resource="FME_Extensions::fmeextensions"/>

        <add id="FME_GoogleMapsStoreLocator::manage_gmaps"
             title="Google Map Stores Locator" translate="title" 
        	 module="FME_GoogleMapsStoreLocator" sortOrder="12" 
        	 parent="FME_Extensions::fmeextensions"        	
        	 resource="FME_GoogleMapsStoreLocator::manage_gmaps"/>

        <add id="FME_GoogleMapsStoreLocator::manage_stores"
             title="Manage Stores" 
             module="FME_GoogleMapsStoreLocator" sortOrder="13" 
             parent="FME_GoogleMapsStoreLocator::manage_gmaps" 
             action="googlemapsstorelocator/storelocator/"  
             resource="FME_GoogleMapsStoreLocator::manage_stores" />      
                       
        <add id="FME_GoogleMapsStoreLocator::configuration"
             title="Configurations"
             module="FME_GoogleMapsStoreLocator" sortOrder="14" 
             parent="FME_GoogleMapsStoreLocator::manage_gmaps" 
             action="adminhtml/system_config/edit/section/googlemapsstorelocator"
             resource="FME_GoogleMapsStoreLocator::configuration" />	 
    </menu>
</config>

 